%section.projects-section
  .container
    %h1= t("portfolio.headline")

    %h3= t("portfolio.search_headline")
    = form_tag search_stocks_path, remote: true, method: :get, id: "stock-lookup-form" do
      .form-group.row.no-padding.text-center.col-md-12
        .col-md-8
          = text_field_tag :stock, params[:stock], placeholder: "Your stock ticker symbol",
                                   autofocus: true, class: "form-control search-box input-lg"
        .col-md-4
          = button_tag(type: :submit, class: "btn btn-primary") do
            %i.fa.fa-search
            Look up a Stock

    #results
      = render "result"

    - if @user_stocks.any?
      = render "stocks/list"
