%nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    = link_to "FinanceTracker", root_path, class: "navbar-brand js-scroll-trigger"
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", type: "button"}
      Menu
      %i.fa.fa-bars

    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        - if user_signed_in?
          %li.nav-item
            = link_to "my portfolio", my_portfolio_path, class: "nav-link js-scroll-trigger"
          %li.nav-item
            = link_to "edit profile", edit_registration_path(current_user), class: "nav-link js-scroll-trigger"
          %ul.navbar-nav.mr-auto
            %li.nav-item
              = link_to "logout", destroy_user_session_path, method: :delete, class: "nav-link"
            %li.user-name
              %i.fa.fa-user
              = current_user.full_name.present? ? current_user.full_name : current_user.email

        - else
          %li.nav-item
            = link_to "login", new_user_session_path, class: "nav-link js-scroll-trigger"
